/* Podemos usar varIáveis em nosso CSS           */
:root{              
    --vermelho:#e50914;
    --preta:#141414;
}

/* Definindo margem, espaçamento e o limete da nossa página com o border-box.  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos base    */
/* Definindo uma cor preta para fundo da página e uma fontes padrão     */
body{    
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;

}

/* Na nossa header container "menu de navegação" queremos que fique alinhado em fileira
, centralizado e com espaçamento entre os textos                 */
header.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Nosso texto principal, pedimos que alinhe a esquerda com espaçamento
de 5 pixels, cor vermelha, fonte arial black e tamanho da fonte 40 pixels  */
header h2.logo{               
    margin-left: 5px;
    color: var(--vermelho);
    font-family: Arial black;
    font-size: 40px;

}

/* Aqui fazemos um efeito no menu de navegação, um branco mais 
claro alinhado a direita 10 pixels         */
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

/* Efeito no menu com o hover ao passar o mouse por cima das letras   */
header nav a:hover{
    color: #fff;
}

/* filme principal */

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/houseofcards.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;

}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;


}
/* Ajuste no botão, padding top 15px e right 30px, espaço entre elementos margin-right 15px   */
/* Usamos cursor:pointer para alteração do ponteiro do mouse, ao passar em cima do botão ele muda */
/* Transition usamos para dar um efeito de transação, dando uma suavidade na mudança de cor */
.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;

}
/* Cores do botão, ao passar o mouse muda para branco, saindo volta para preto  */
.botao:hover{
    background-color: white;
    color: black;
}
/*  Espaçamento entre texto botão e ícone  */
.botao i{
    margin-right: 8px;
}

/* Aqui mostramos como é bom trabalharmos com containers e 
wrappers "fazem as mesma coisa, envelopar ou embrulhar" queremos dar um espaçamento nos textos principal 
e da descrição do filme, como usamos container na logo e no filme principal, os dois elementos serão
alterados    */
.container{
    margin-left: 20px;
}

/* Aqui definimos uma limitação de largura para nosso container do filme principal */
.filme-principal .container{
    width: 70%;
}

/* Ajustar altura e largura para as imagens */
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}